#
# need this global
#
WSGISocketPrefix /var/run/

#
# http vhost
#
<VirtualHost *:443>
    ServerName api.theory14.net
    WSGIDaemonProcess apiv1 user=apache group=apache processes=1 threads=5
    WSGIScriptAlias / /path/to/website/app/chipmunkapi.wsgi
    WSGIPassAuthorization On

    CustomLog /path/to/website/logs/access.log combined
    ErrorLog /path/to/website/logs/error.log

   # SSL Fun
    SSLEngine on
    SSLCipherSuite ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP
    SSLCertificateFile /etc/pki/tls/chipmunk/cert.pem
    SSLCertificateKeyFile /etc/pki/tls/chipmunk/key.pem

    <Directory /path/to/website/app>
        WSGIProcessGroup apiv1
        WSGIApplicationGroup %{GLOBAL}
        Order deny,allow
        Allow from all
    </Directory>
</VirtualHost>

